<section class="bg-slate-50">
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="py-12 md:py-20 border-t border-slate-50">

            <!-- Section header -->
            <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
                <h2 class="h2 font-playfair-display text-slate-800">Frequently Asked Questions</h2>
            </div>

            <!-- Faqs -->
            <ul class="max-w-3xl mx-auto divide-y divide-slate-200">
                <li x-data="{ expanded: true }">
                    <button class="h4 font-playfair-display flex items-center justify-between w-full text-left py-5" @click="expanded = !expanded" :aria-expanded="expanded">
                        <span>Can I upgrade or downgrade at any time?</span>
                        <svg class="w-4 h-4 fill-current text-blue-600 shrink-0 ml-8" :class="{'rotate-180': expanded}" viewBox="0 0 16 16">
                            <path d="m3 5 5 6 5-6z" />
                        </svg>
                    </button>
                    <div
                        x-ref="item"
                        class="text-slate-500 overflow-hidden transition-all duration-300 ease-in-out"
                        :style="expanded ? 'max-height: ' + $refs.item.scrollHeight + 'px; opacity: 1' : 'max-height: 0; opacity: 0'"
                    >
                        <p class="pb-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </li>
                <li x-data="{ expanded: false }">
                    <button class="h4 font-playfair-display flex items-center justify-between w-full text-left py-5" @click="expanded = !expanded" :aria-expanded="expanded">
                        <span>What are the advantages of the Tidy Advanced Service?</span>
                        <svg class="w-4 h-4 fill-current text-blue-600 shrink-0 ml-8" :class="{'rotate-180': expanded}" viewBox="0 0 16 16">
                            <path d="m3 5 5 6 5-6z" />
                        </svg>
                    </button>
                    <div x-ref="item" class="text-slate-500 overflow-hidden transition-all duration-300 ease-in-out" :style="expanded ? 'max-height: ' + $refs.item.scrollHeight + 'px; opacity: 1' : 'max-height: 0; opacity: 0'">
                        <p class="pb-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </li>
                <li x-data="{ expanded: false }">
                    <button class="h4 font-playfair-display flex items-center justify-between w-full text-left py-5" @click="expanded = !expanded" :aria-expanded="expanded">
                        <span>Are there any commissions in addition to the monthly plans?</span>
                        <svg class="w-4 h-4 fill-current text-blue-600 shrink-0 ml-8" :class="{'rotate-180': expanded}" viewBox="0 0 16 16">
                            <path d="m3 5 5 6 5-6z" />
                        </svg>
                    </button>
                    <div x-ref="item" class="text-slate-500 overflow-hidden transition-all duration-300 ease-in-out" :style="expanded ? 'max-height: ' + $refs.item.scrollHeight + 'px; opacity: 1' : 'max-height: 0; opacity: 0'">
                        <p class="pb-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </li>
                <li x-data="{ expanded: false }">
                    <button class="h4 font-playfair-display flex items-center justify-between w-full text-left py-5" @click="expanded = !expanded" :aria-expanded="expanded">
                        <span>Can I request a refund?</span>
                        <svg class="w-4 h-4 fill-current text-blue-600 shrink-0 ml-8" :class="{'rotate-180': expanded}" viewBox="0 0 16 16">
                            <path d="m3 5 5 6 5-6z" />
                        </svg>
                    </button>
                    <div x-ref="item" class="text-slate-500 overflow-hidden transition-all duration-300 ease-in-out" :style="expanded ? 'max-height: ' + $refs.item.scrollHeight + 'px; opacity: 1' : 'max-height: 0; opacity: 0'">
                        <p class="pb-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </li>
                <li x-data="{ expanded: false }">
                    <button class="h4 font-playfair-display flex items-center justify-between w-full text-left py-5" @click="expanded = !expanded" :aria-expanded="expanded">
                        <span>What are my payment options?</span>
                        <svg class="w-4 h-4 fill-current text-blue-600 shrink-0 ml-8" :class="{'rotate-180': expanded}" viewBox="0 0 16 16">
                            <path d="m3 5 5 6 5-6z" />
                        </svg>
                    </button>
                    <div x-ref="item" class="text-slate-500 overflow-hidden transition-all duration-300 ease-in-out" :style="expanded ? 'max-height: ' + $refs.item.scrollHeight + 'px; opacity: 1' : 'max-height: 0; opacity: 0'">
                        <p class="pb-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </li>
                <li x-data="{ expanded: false }">
                    <button class="h4 font-playfair-display flex items-center justify-between w-full text-left py-5" @click="expanded = !expanded" :aria-expanded="expanded">
                        <span>Do you offer a discount for universities and students?</span>
                        <svg class="w-4 h-4 fill-current text-blue-600 shrink-0 ml-8" :class="{'rotate-180': expanded}" viewBox="0 0 16 16">
                            <path d="m3 5 5 6 5-6z" />
                        </svg>
                    </button>
                    <div x-ref="item" class="text-slate-500 overflow-hidden transition-all duration-300 ease-in-out" :style="expanded ? 'max-height: ' + $refs.item.scrollHeight + 'px; opacity: 1' : 'max-height: 0; opacity: 0'">
                        <p class="pb-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </li>
            </ul>
            
        </div>
    </div>
</section>