<div class="fixed inset-0 flex justify-center items-center z-50 bg-black bg-opacity-50 ">
  <div class="relative inline-block">
    <img src="https://heyboss-component-library-images.s3.us-east-1.amazonaws.com/Green+School+Board+Instagram+Post+(8.5+x+11+in)+(1).jpeg" alt="Background Image" class="w-[280px] sm:w-80 md:w-auto md:h-[650px] rounded-lg object-contain">
    <button class="absolute top-2 right-2 text-white hover:text-gray-300 bg-black bg-opacity-50 rounded-full p-1" onclick="closePopup()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
</div>

<script>
  function closePopup() {
    document.querySelector('.fixed').classList.add('hidden');
  }
</script>