<div class="fixed inset-0 flex justify-center items-center z-50 bg-black bg-opacity-50 ">
  <div class="bg-white p-6 rounded-lg relative w-[350px] h-[600px] sm:w-96 md:w-3/5 lg:w-2/5 xl:w-2/5 sm:h-[600px] md:h-[650px]">
    <img src="https://heyboss-component-library-images.s3.amazonaws.com/Poster_Join_Our_SAT_Mock_Test_Sessions_4281536317_1_e5e9fd505c.png?updated_at=2025-05-19T03:08:24.438Z" alt="Background Image" class="w-full h-full rounded-lg mb-4">
    <button class="absolute top-0 right-0 m-2 text-gray-600 hover:text-gray-900" onclick="closePopup()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
</div>

<script>
  function closePopup() {
    document.querySelector('.fixed').classList.add('hidden');
  }
</script>