<section class="bg-slate-100">

    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="pt-12 md:pt-20">

            <!-- Section header -->
            <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
                <h2 class="h2 mb-6 font-playfair-display text-slate-800">Let's start with us now !</h2>
                <a class="btn text-white bg-blue-600 hover:bg-blue-700 group" href="request-demo.html">
                    Contact Us <span class="tracking-normal text-blue-300 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">-&gt;</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Images container -->
    <div class="-ml-28 -mr-28 mb-8 md:mb-16">
        <div class="max-w-[1652px] mx-auto flex items-center space-x-2 md:space-x-4">
            <div class="relative w-1/3" data-aos="fade-right">
                <img class="aspect-[3/2] object-cover" src="../images/about-students2.jpg" width="540" height="360" alt="Team 01" />
                <div class="absolute inset-0 bg-gradient-to-r from-slate-100" aria-hidden="true"></div>
            </div>
            <div class="relative w-1/3" data-aos="fade">
                <img class="aspect-[3/2] object-cover" src="../images/about-students3.jpg" width="540" height="360" alt="Team 02" />
            </div>
            <div class="relative w-1/3" data-aos="fade-left">
                <img class="aspect-[3/2] object-cover" src="../images/about-students5.jpg" width="540" height="360" alt="Team 03" />
                <div class="absolute inset-0 bg-gradient-to-l from-slate-100" aria-hidden="true"></div>
            </div>
        </div>
    </div>

</section>