<section class="bg-slate-50 pb-16 pt-8">

    <div class="max-w-6xl mx-auto px-4 py-16 sm:px-6">
        <div class="py-16 md:py-20">

            <!-- Section header -->
            <div class="max-w-4xl mx-auto text-center pb-12 md:pb-20">
                <h2 class="h2 font-playfair-display text-slate-800 mb-3">Just got accepted for <span class="text-blue-600">the class of 2026!</span></h2>
                <p class="text-xl text-slate-500">
                    Congratulations and best wishes for your next adventure!
                </p>
            </div>

            

            <!-- Testimonials container -->
            <div class="max-w-sm mx-auto sm:max-w-none grid gap-12 sm:grid-cols-2 md:grid-cols-3 sm:gap-x-6 sm:gap-y-8 items-start mb-12 md:mb-16" data-aos-id-testimonials>
            
                <!-- 1st Testimonial -->
            <div class="hover:scale-105">
                <article class="flex flex-col bg-white p-6 shadow-xl" data-aos="fade-up" data-aos-anchor="[data-aos-id-testimonials]">
                    <header>
                        <div class="flex items-center mb-6">
                            <div class="relative mr-5">
                                <img class="w-34 h-12 object-contain" src="../images/logo-princeton.png"/>
                            </div>
                        </div>
                    </header>
                    <div class="grow">
                        <a class="text-slate-800 font-semibold mb-4 transition duration-150 ease-in-out">A. Park</a>
                        <p class="text-slate-500 italic">Studied with "Achieve" for 2 years</p>
                    </div>
                </article>
            </div>

                <!-- 2nd Testimonial -->
                
            <div class="hover:scale-105">
                <article class="flex flex-col bg-white p-6 shadow-xl" data-aos="fade-up" data-aos-anchor="[data-aos-id-testimonials]">
                    <header>
                        <div class="flex items-center mb-6">
                            <div class="relative mr-5">
                                <img class="w-32 h-12 object-contain" src="../images/logo-penn.png"/>
                            </div>
                        </div>
                    </header>
                    <div class="grow">
                        <a class="text-slate-800 font-semibold mb-4 transition duration-150 ease-in-out">D. Bahng</a>
                        <p class="text-slate-500 italic">Studied with "Achieve" for 2 years</p>
                    </div>
                </article>
            </div>

                <!-- 3rd Testimonial -->
            <div class="hover:scale-105">
                <article class="flex flex-col bg-white p-6 shadow-xl" data-aos="fade-up" data-aos-anchor="[data-aos-id-testimonials]">
                    <header>
                        <div class="flex items-center mb-6">
                            <div class="relative mr-5">
                                <img class="w-38 h-12 object-contain" src="../images/logo-columbia.png"/>
                            </div>
                        </div>
                    </header>
                    <div class="grow">
                        <a class="text-slate-800 font-semibold mb-4 transition duration-150 ease-in-out">D. Kim</a>
                        <p class="text-slate-500 italic">Studied with "Achieve" for 2 years</p>
                    </div>
                </article>
            </div>

                <!-- 4th Testimonial -->
            <div class="hover:scale-105">
                <article class="flex flex-col bg-white p-6 shadow-xl" data-aos="fade-up" data-aos-anchor="[data-aos-id-testimonials]">
                    <header>
                        <div class="flex items-center mb-6">
                            <div class="relative mr-5">
                                <img class="w-32 h-12 object-contain" src="../images/logo-penn.png"/>
                            </div>
                        </div>
                    </header>
                    <div class="grow">
                        <a class="text-slate-800 font-semibold mb-4 transition duration-150 ease-in-out">W. Yoo</a>
                        <p class="text-slate-500 italic">Studied with "Achieve" for 2 years</p>
                    </div>
                </article>
            </div>

                <!-- 5th Testimonial -->
            <div class="hover:scale-105">
                <article class="flex flex-col bg-white p-6 shadow-xl" data-aos="fade-up" data-aos-anchor="[data-aos-id-testimonials]">
                    <header>
                        <div class="flex items-center mb-6">
                            <div class="relative mr-5">
                                <img class="w-34 h-12 object-contain" src="../images/logo-cornell.png"/>
                            </div>
                        </div>
                    </header>
                    <div class="grow">
                        <a class="text-slate-800 font-semibold mb-4 transition duration-150 ease-in-out">I. Lee</a>
                        <p class="text-slate-500 italic">Studied with "Achieve" for 2 years</p>
                    </div>
                </article>
            </div>
                
                <!-- 6th Testimonial -->
            <div class="hover:scale-105">
                <article class="flex flex-col bg-white p-6 shadow-xl" data-aos="fade-up" data-aos-anchor="[data-aos-id-testimonials]">
                    <header>
                        <div class="flex items-center mb-6">
                            <div class="relative mr-5">
                                <img class="w-34 h-12 object-contain" src="../images/logo-stanford.png"/>
                            </div>
                        </div>
                    </header>
                    <div class="grow">
                        <a class="text-slate-800 font-semibold mb-4 transition duration-150 ease-in-out">J. Kim</a>
                        <p class="text-slate-500 italic">Studied with "Achieve" for 2 years</p>
                    </div>
                </article>
            </div>

                <!-- 7th Testimonial -->
            <div class="hover:scale-105">
                <article class="flex flex-col bg-white p-6 shadow-xl" data-aos="fade-up" data-aos-anchor="[data-aos-id-testimonials]">
                    <header>
                        <div class="flex items-center mb-6">
                            <div class="relative mr-5">
                                <img class="w-34 h-12 object-contain" src="../images/logo-cornell.png"/>
                            </div>
                        </div>
                    </header>
                    <div class="grow">
                        <a class="text-slate-800 font-semibold mb-4 transition duration-150 ease-in-out">M. Huang</a>
                        <p class="text-slate-500 italic">Studied with "Achieve" for 2 years</p>
                    </div>
                </article>
            </div>

                <!-- 8th Testimonial -->
            <div class="hover:scale-105">
                <article class="flex flex-col bg-white p-6 shadow-xl" data-aos="fade-up" data-aos-anchor="[data-aos-id-testimonials]">
                    <header>
                        <div class="flex items-center mb-6">
                            <div class="relative mr-5">
                                <img class="w-38 h-12 object-contain" src="../images/logo-columbia.png"/>
                            </div>
                        </div>
                    </header>
                    <div class="grow">
                        <a class="text-slate-800 font-semibold mb-4 transition duration-150 ease-in-out">J. Chang</a>
                        <p class="text-slate-500 italic">Studied with "Achieve" for 3 years</p>
                    </div>
                </article>
            </div>

                <!-- 9th Testimonial -->
            <div class="hover:scale-105">
                <article class="flex flex-col bg-white p-6 shadow-xl" data-aos="fade-up" data-aos-anchor="[data-aos-id-testimonials]">
                    <header>
                        <div class="flex items-center mb-6">
                            <div class="relative mr-5">
                                <img class="w-34 h-12 object-contain" src="../images/logo-wildcats.png"/>
                            </div>
                        </div>
                    </header>
                    <div class="grow">
                        <a class="text-slate-800 font-semibold mb-4 transition duration-150 ease-in-out">R. Trivedi</a>
                        <p class="text-slate-500 italic">Studied with "Achieve" for 2 years</p>
                    </div>
                </article>
            </div>

                 <!-- 10th Testimonial -->
            <div class="hover:scale-105">
                 <article class="flex flex-col bg-white p-6 shadow-xl" data-aos="fade-up" data-aos-anchor="[data-aos-id-testimonials]">
                    <header>
                        <div class="flex items-center mb-6">
                            <div class="relative mr-5">
                                <img class="w-34 h-12 object-contain" src="../images/logo-georgetown.png"/>
                            </div>
                        </div>
                    </header>
                    <div class="grow">
                        <a class="text-slate-800 font-semibold mb-4 transition duration-150 ease-in-out">S. Chang</a>
                        <p class="text-slate-500 italic">Studied with "Achieve" for 2 years</p>
                    </div>
                </article>
            </div>

                 <!-- 11th Testimonial -->
            <div class="hover:scale-105"> 
                 <article class="flex flex-col bg-white p-6 shadow-xl" data-aos="fade-up" data-aos-anchor="[data-aos-id-testimonials]">
                    <header>
                        <div class="flex items-center mb-6">
                            <div class="relative mr-5">
                                <img class="w-32 h-12 object-contain" src="../images/logo-washington.png"/>
                            </div>
                        </div>
                    </header>
                    <div class="grow">
                        <a class="text-slate-800 font-semibold mb-4 transition duration-150 ease-in-out">J. Kim</a>
                        <p class="text-slate-500 italic">Studied with "Achieve" for 2 years</p>
                    </div>
                </article>
            </div>

                 <!-- 12th Testimonial -->
            <div class="hover:scale-105">
                 <article class="flex flex-col bg-white p-6 shadow-xl" data-aos="fade-up" data-aos-anchor="[data-aos-id-testimonials]">
                    <header>
                        <div class="flex items-center mb-6">
                            <div class="relative mr-5">
                                <img class="w-34 h-12 object-contain" src="../images/logo-cooper.jpeg"/>
                            </div>
                        </div>
                    </header>
                    <div class="grow">
                        <a class="text-slate-800 font-semibold mb-4 transition duration-150 ease-in-out">M. Kim</a>
                        <p class="text-slate-500 italic">Studied with "Achieve" for 2 years</p>
                    </div>
                </article>
            </div>
                
                

            </div>

            <!-- See All Customers -->
            <div class="text-center">
                <p class="text-lg text-slate-500">
                    All of the above + Brown, Williams, Duke, Johns Hopkins, Boston College, Boston University, NYU, Villanova Honors Program, Northeastern, Carnegie Mellon, Emory, University of Michigan, University of Virginia,  University of Rochester, Tufts</p>
            </div>

        </div>
    </div>
</section>