<section class="relative">

    <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
        <div class="pt-32 md:pt-40">

            <!-- Section header -->
            <div class="max-w-3xl mx-auto text-center pb-16">
                <h2 class="h2 font-playfair-display text-slate-900 mb-4">We are Achieve Juniors.</h2>
                <p class="text-xl text-slate-400">Let's get on board with the most valuable roadmap</p>
            </div>

                <!-- Modal backdrop -->
                <div
                    class="fixed inset-0 z-50 bg-black bg-opacity-75 transition-opacity"
                    x-show="modalExpanded"
                    x-transition:enter="transition ease-out duration-200"
                    x-transition:enter-start="opacity-0"
                    x-transition:enter-end="opacity-100"
                    x-transition:leave="transition ease-out duration-100"
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0"
                    aria-hidden="true"
                    x-cloak
                ></div>

                <!-- Modal dialog -->
                <div
                    id="modal"
                    class="fixed inset-0 z-50 overflow-hidden flex items-center justify-center px-4 sm:px-6"
                    role="dialog"
                    aria-modal="true"
                    aria-labelledby="modal-headline"
                    x-show="modalExpanded"
                    x-transition:enter="transition ease-out duration-200"
                    x-transition:enter-start="opacity-0 scale-95"
                    x-transition:enter-end="opacity-100 scale-100"
                    x-transition:leave="transition ease-out duration-200"
                    x-transition:leave-start="opacity-100 scale-100"
                    x-transition:leave-end="opacity-0 scale-95"
                    x-cloak
                >

            </div>

        </div>
    </div>
</section>